<div class="sidenav">
    <div class="login-main-text">
       <h2>Inicia Sesión<br>Entra al Mundo Maya</h2>
       <p>y comienza a enriquecer tus conocimientos sobre la cultura maya</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="p-5" style="margin-top: 150px;">
          <form>
             <div class="">
                <label>Usuario:</label>
                <input type="text" class="form-control" placeholder="User Name">
             </div>
             <br>
             <div class="">
                <label>Contraseña:</label>
                <input type="password" class="form-control" placeholder="Password">
             </div>
             <br>
             <button style="margin-right: 5px;" type="submit" class="btn btn-black">Login</button>
             <button type="submit" class="btn btn-secondary">Registrarse</button>
          </form>
       </div>
    </div>
 </div>
