<div class="container my-4">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="card {{ classes[index % classes.length] }}">
				<div
					class="card-header d-flex justify-content-between align-items-center"
				>
					<div>
						<h6 class="my-0 text-center">
							Pregunta {{ index + 1 }}
						</h6>
					</div>

					<div>
						<h6>{{ question.score }} puntos</h6>
					</div>
				</div>
				<div class="card-body">
					<label>{{ question.questionTitle }}</label>
					<div class="options my-4">
						<div
							class="row my-2"
							*ngFor="let option of question.options; index as i"
						>
							<div class="col input-group">
								<div class="input-group-text">
									<input
										class="form-check-input mt-0"
										type="radio"
										name="{{ this.index }}"
										(input)="changeValueOption($event, i)"
									/>
								</div>
								<label class="form-control">{{
									option.optionTitle
								}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
