<div class="container my-4 py-4" *ngIf="activity">
	<div class="question-list-background">
		<div class="row my-4 py-4">
			<div class="col offset-2">
				<a class="link-success m-1" routerLink="/lesson/{{ lessonId }}"
					><span class="badge bg-warning fs-5">Volver</span></a
				>
			</div>
		</div>

		<div class="row my-4 py-4">
			<div class="col text-center">
				<h1>{{ activity.form.formName }}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-8 offset-2">
				<p>{{ activity.form.description }}</p>
			</div>
		</div>

		<div class="row" *ngFor="let question of questions; index as i">
			<app-question-item
				[question]="question"
				[index]="i"
				(questionIndex)="receiveQuestionIndex($event)"
			></app-question-item>
		</div>

		<div class="row">
			<div class="d-flex align-items-center justify-content-center">
				<div class="m-4">
					<button
						class="btn btn-outline-success"
						(click)="createQuestions()"
					>
						Agregar Preguntas
					</button>
				</div>
				<div class="m-4">
					<button
						class="btn btn-outline-danger"
						routerLink="/lesson/{{ lessonId }}"
					>
						Cancelar
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
