<div class="container">
	<div class="row" *ngFor="let question of questions; index as i">
		<app-question-item
			[question]="question"
			[index]="i"
			(questionIndex)="receiveQuestionIndex($event)"
		></app-question-item>
	</div>

	<div class="row">
		<div class="d-flex align-items-center justify-content-center">
			<div class="m-4">
				<button
					class="btn btn-outline-success"
					(click)="createQuestions()"
				>
					Agregar Preguntas
				</button>
			</div>
			<div class="m-4">
				<button
					class="btn btn-outline-danger"
					(click)="cancelAddQuestions()"
				>
					Cancelar
				</button>
			</div>
		</div>
	</div>
</div>
