<div class="container-fluid" *ngIf="activity && activity.article">
	<div class="row my-4 py-4">
		<div class="col text-center">
			<h1 class="p-2 my-2 display-2 bg-light rounded">
				{{ activity.article.articleName }}
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col d-flex justify-content-end">
			<p class="text-right m-0 p-0 text-secondary">
				Ultima modificaci&oacute;n: {{activity.article.modificationDate}}
			</p>
		</div>
	</div>

	<div class="row border border-5 border-light rounded">
		<div class="col-10 offset-1 my-4">
			<p id="texto">Hola</p>
		</div>
	</div>
</div>
