<div class="sidenav">
    <div class="login-main-text">
       <h2>¿Aún no tienes una cuenta?<br>Registrate en nuestra academia!</h2>
       <p>y comienza a enriquecer tus conocimientos sobre la cultura maya</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
       <div class="p-5" style="margin-top: 150px;">
          <form>
            <div class="row">
            <div class="col-6">
                <label>Nombre:</label>
                <input type="text" class="form-control d-block" placeholder="First Name">
                </div>
                <div class="col-6">
                <label>Apellido:</label>
                <input type="text" class="form-control d-block" placeholder="Last Name">
                </div>
            </div>
            <div class="row">
            <div class="col-12">
                <label>Nombre de Usuario:</label>
                <input type="text" class="form-control d-block" placeholder="username">
                </div>
            </div>
            <div class="row">
            <div class="col-6">
                <label>Contraseña:</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <div class="col-6">
                <label>Confirmar Contraseña:</label>
                <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
            </div>
            <div class="row">
            <div class="col-12">
                <label>Correo Electrónico:</label>
                <input type="text" class="form-control d-block" placeholder="email">
                </div>
            </div>
            <div class="row">
            <div class="col-6">
                <label>Genero:</label>
                <select class="form-select">
                    <option value="">Masculino</option>
                    <option value="">Femenino</option>
                    <option value="">Otro</option>
                </select>
            </div>
            <div class="col-6">
                <label>Telefono:</label>
                <input type="text" class="form-control d-block" placeholder="Phone">
            </div>
            
            </div>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-secondary">Registrarse</button>
            </div>
          </form>
       </div>
    </div>
 </div>
