<div class="container-fluid">
    <div class="row m-4"></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row principal-banner">
                <div class="col-6">
                    <img class="imgr" src="/assets/img/general/rueda-maya.png" alt="calendario">
                </div>
                <div class="col-6">
                    <div class="row align-self-stretch">
                        <h1 style="text-align: center;">¿Quiéres aprender sobre la cultura maya?</h1>
                    </div>
                    <div class="row align-self-stretch">
                        <div style="height: 100%; width: 100%; justify-content: center;">
                            <h2 style="text-align: center; color:grey">Maya Academy es tu solución!</h2>
                            <p>
                                Ofrecemos cursos que constan tanto de artículos informativos como actividades prácticas, las cuales servirán para evaluar tu conocimiento acerca de la cultura maya. Te ofrecemos lecciones completas subidas por personal calificado, dichas lecciones tienen:
                            </p>
                            <ul>
                                <li>Artículos informativos</li>
                                <li>Actividades</li>
                                <li>Avance en Cursos</li>
                                <li>Barra de Progresos</li>
                                <li>Capacidad de Crecimiento</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>